doctype html
html(lang="en")
  head
    title Welcome to my Art Gallery
    meta(name="description", content="This is my Art Galerry")
    link(rel="stylesheet", href="style.css")
    //- meta(content="Simple pug (jade) starter aimed to quickly deliver HTML & CSS projects" name="description")
    //- this checks to see the the "embed" property is set to "true"
    //- in the package.json file
    //- if config.entry.css.embed
    //-   link(rel="stylesheet" href=`${embedPath}` embed)
  body
    .navigation
      a.home-button(href="https://www.google.com") Home
      a.my-art-button(href="https://www.google.com") My Art
      a.contact-button(href="https://www.google.com") Contact 
    .landing-page
      h1 All from Zerooo
      h2 Here I will display all my creations

    //- if config.entry.css.external
    //-   link(rel="stylesheet", href=`${baseUrl}style.css`)

