
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(/asset/image/logo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navigation-top {
  padding: 1rem;
  font-size: 15px;
  background-color: rgb(32, 51, 50);
  margin-top: 40px;
}

.home-button,
.my-art-button,
.contact-button {
  text-decoration: initial;
  margin-left: 40px;
  color: wheat;
}

p {
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
  color: wheat;
}


h1 {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: wheat;

}

h2 {
  font-size: 50px;
  padding-left: 50px;
  padding-right: 50px;
  color: wheat;
}


.navigation-bottom {
  background-color: rgb(32, 51, 50);
  align-self: initial;
  padding: 1rem;
  margin-top: 7rem;
}


.gallery {
  text-align: center;
  margin-top: 50px;
}


.photo-gallery {
  text-decoration: initial;
  font-size: 20px;
  color: wheat;
  align-self: center;
}

.date-button {
  color: wheat;
  font-size: 15px;
  text-decoration: initial;
  margin-left: 40px;
}

.facebook-button {
  color: wheat;
  font-size: 15px;
  text-decoration: initial;
  margin-left: 100px;
}
